{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <script src="https://kit.fontawesome.com/131597f1fb.js" crossorigin="anonymous"></script>

 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

  <title>List</title>
</head>
<body>

  <div class="wrapperTable">
    <section class="users">
      <header>
        <div class="content">
          <div class="details">
            <span>Seus dados foram salvos com sucesso</span>
            <p>adicionar mais ou sair ?</p>
          </div>
        </div>
          <a href="http://127.0.0.1:8000/" class="logout">Adicionar +</a>
          <div class="link"><a href="http://127.0.0.1:8000/list">Lista</a></div>
      </header>


    </section>

  </div>

</body>
</html>