{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <script src="https://kit.fontawesome.com/131597f1fb.js" crossorigin="anonymous"></script>

 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

  <title>List</title>
</head>
<body>

  <div class="wrapperTable">
    <section class="users">
      <header>
        <div class="content">
          <div class="details">
            <span>Admin</span>
            <p>Online</p>
          </div>
        </div>
        <a href="#" class="logout">Logout</a>
      </header>
      <div class="footer-table">
        <table id="data-table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Senha</th>
            </tr>
          </thead>
          <tbody>
          {% for pessoa in pessoa %}
            <tr data-index="0">
              <td class="name">{{ pessoa.nome }}</td>
              <td class="mail">{{ pessoa.email }}</td>
              <td class="passkey">{{ pessoa.passkey }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </section>

  </div>

</body>
</html>